.App {
  text-align: left;
}
.ToDoList {
  max-width: 100ch;
  margin: auto;
  background-color: floralwhite;
  text-align: left;
}
.ToDoItem, .NewItem, .EditItemDiv {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
}
.ToDoItem label {
  width: 100%;
}
.EditItemInput, .NewItemInput {
  background-color: floralwhite;
  border: none;
  width: 100%;
}
.ToDoItem Button, .NewItem button {
  margin-right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
  width: 20px;
  border: none;
  color: transparent;
}
.ToDoList {
  font-family: cursive;
  font-size: 1.2em;
}
.ToDoList input, .NewItemInput input{
  font-family: cursive;
  font-size: 1em;
}
.EditItemButton {
  background-image: url("./img/edit.png");
}
.SaveItemButton {
  background-image: url("./img/save.png");
}
.DeleteItemButton {
  background-image: url("./img/deleteb.png");
}
.NewItemButton {
  background-image: url("./img/add.png");
}
button span {
  display: none;
}
.ToDoList hr {
  background: lightgrey;
  border: none;
  height: 1px;
}
header{
  text-align: center;
  padding-top: 0.25ch;
}
footer{
  height: 3ch;
}
