.App {
  text-align: left;
}
.ToDoList {
  max-width: 100ch;
  margin: auto;
  background-color: floralwhite;
  text-align: left;
}
.ToDoItem, .NewItem, .EditItemDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ToDoItem label {
  width: 100%;
}
.EditItemInput, .NewItemInput {
  background-color: floralwhite;
  border: none;
  width: calc(100% - 55px);
}
.ToDoItem Button, .NewItem button, .EditItemDiv button {
  margin-right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
  width: 20px;
  border: none;
  color: transparent;
}
.ToDoList {
  font-family: cursive;
  font-size: 1.2em;
}
.ToDoList input, .NewItemInput input{
  font-family: cursive;
  font-size: 1em;
}
.completedItem{
  color: grey;
  text-decoration: line-through;
}
.EditItemButton {
  background-image: url("./img/edit.png");
}
.SaveItemButton {
  background-image: url("./img/save.png");
}
.DeleteItemButton {
  background-image: url("./img/deleteb.png");
}
.NewItemButton {
  background-image: url("./img/add.png");
}
button span {
  display: none;
}
.ToDoList hr {
  background: lightgrey;
  border: none;
  height: 1px;
}
header{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 0.25ch;
}
footer{
  height: 3ch;
}
.MenuButton{
  display: flex;
  font-size: 42px;
  margin: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
header h2{
  margin-top: 0
}
.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
